/*
* Copyright (c) 2020, Kim Bøndergaard, <kim@fam-boendergaard.dk>
*
* SPDX-License-Identifier: Apache-2.0
*/

#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
	chosen {
		zephyr,display = &st7735r_st7735r_ada_128x128;
		// zephyr,display = &st7789v_st7789v_waveshare_172_320;
		zephyr,display = &st7789v_st7789v_waveshare_240_280;
		
		// zephyr,console = &usb_serial;
		// zephyr,shell-uart = &usb_serial;
	};
	
	zephyr,user {
		tft_led-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
	};
	
	mipi_dbi_st7735r_ada_128x128 {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi2>;
		dc-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;	    /* D41 */
		reset-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;	/* D39 */
		#address-cells = <1>;
		#size-cells = <0>;
		
		st7789v_st7789v_waveshare_240_280: st7789v@0 {
			compatible = "sitronix,st7789v";
			mipi-max-frequency = <1000000000>;
			reg = <0>;
			width = <240>;
			height = <280>;
			x-offset = <40>;
			y-offset = <0>;
			vcom = <0x19>;
			gctrl = <0x35>;
			vrhs = <0x12>;
			vdvs = <0x20>;
			mdac = <0x00>;
			gamma = <0x01>;
			colmod = <0x05>;
			lcm = <0x2c>;
			porch-param = [0c 0c 00 33 33];
			cmd2en-param = [5a 69 02 01];
			pwctrl1-param = [a4 a1];
			pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
			nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
			ram-param = [00 F0];
			rgb-param = [CD 08 14];
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		};
		
		// st7789v_st7789v_waveshare_172_320: st7789v@0 {
		// 	compatible = "sitronix,st7789v";
		// 	mipi-max-frequency = <1000000000>;
		// 	reg = <0>;
		// 	width = <172>;
		// 	height = <320>;
		// 	x-offset = <34>;
		// 	y-offset = <0>;
		// 	vcom = <0x19>;
		// 	gctrl = <0x35>;
		// 	vrhs = <0x12>;
		// 	vdvs = <0x20>;
		// 	mdac = <0x00>;
		// 	gamma = <0x01>;
		// 	colmod = <0x05>;
		// 	lcm = <0x2c>;
		// 	porch-param = [0c 0c 00 33 33];
		// 	cmd2en-param = [5a 69 02 01];
		// 	pwctrl1-param = [a4 a1];
		// 	pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
		// 	nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
		// 	ram-param = [00 F0];
		// 	rgb-param = [CD 08 14];
		// 	mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		// };
		
		// st7735r_st7735r_ada_128x128: st7735r@0 {
		// 	compatible = "sitronix,st7735r";
		// 	mipi-max-frequency = <20000000>;
		// 	mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		// 	reg = <0>;
		// 	width = <128>;
		// 	height = <128>;
		// 	x-offset = <0>;
		// 	y-offset = <0>;
		// 	madctl = <0x60>;
		// 	colmod = <0x55>;
		// 	vmctr1 = <0x0e>;
		// 	pwctr1 = [a2 02 84];
		// 	pwctr2 = [c5];
		// 	pwctr3 = [0a 00];
		// 	pwctr4 = [8a 2a];
		// 	pwctr5 = [8a ee];
		// 	frmctr1 = [01 2c 2d];
		// 	frmctr2 = [01 2c 2d];
		// 	frmctr3 = [01 2c 2d 01 2c 2d];
		// 	gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
		// 	gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
		// };
	};
};

&usb_serial {
	status = "okay";
};

/* 16MB flash */
&flash0 {
	reg = <0x0 DT_SIZE_M(16)>;
};

/* 8MB psram */
&psram0 {
	size = <DT_SIZE_M(8)>;
};

&pinctrl {
	spim2tft_default: spim2tft_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO9>,
			<SPIM2_SCLK_GPIO6>,
			<SPIM2_CSEL_GPIO5>;
		};
		group2 {
			pinmux = <SPIM2_MOSI_GPIO7>;
			output-low;
		};
	};
};

&spi2 {
	pinctrl-0 = <&spim2tft_default>;
};


